.theme-container.home-page-class {
  /* 页面样式 */
  .hero img {
    width: 85%;
    max-width: unset;
    max-height: unset;
    margin: 1.5rem auto;
  }
  
}

:root {
  scroll-behavior: smooth;
}

:root {
  .back-to-top {
    --back-to-top-color: gray;
    --back-to-top-color-hover: lightgray;
  }
}

html.dark {
  .back-to-top {
    --back-to-top-color: gray;
    --back-to-top-color-hover: lightgray;
  }
}